<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Flourish & Blotts</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row style="margin-top: 25px;">
      <ion-col>
        <img src="{{biblioteca.imagen}}">
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 25px;">
      <ion-item>{{biblioteca.descripcion}}</ion-item>
    </ion-row>

        <ion-row>
          <ion-col size="6">
            <b>Dirección</b>
            <ion-item>{{biblioteca.direccion}}</ion-item>

            <b>Tipo</b>
            <ion-item>{{biblioteca.tipo}}</ion-item>
          </ion-col>
          <ion-col size="6">
            <b>Província</b>
            <ion-item>{{biblioteca.provincia}}</ion-item>

            <b>Fecha construcción</b>
            <ion-item>{{biblioteca.construccion}}</ion-item>
          </ion-col>
        </ion-row>
  </ion-grid>
</ion-content>
