<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Responsable</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="2"><ion-button (click)="mi_cuenta()" color="medium"><ion-icon name="person-circle-outline"></ion-icon></ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="cerrar_sesion()" color="dark"><ion-icon name="log-out-outline"></ion-icon>Cerrar</ion-button></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <h2>Gestión</h2>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="9">
            <ion-item>
              <ion-button (click)="reserva_aceptada()" color="dark">Reservas</ion-button>
            </ion-item>
            <ion-item>
              <ion-button color="dark">Regresos</ion-button>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-col></ion-col>
          <ion-col>
            <h2>Funciones</h2>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col></ion-col>
          <ion-col size="7">
            <ion-item>
              <h5>Libro</h5>
            </ion-item>
            <ion-item>
              <ion-button (click)="startScanner()" color="dark">+<ion-icon name="book-outline"></ion-icon></ion-button>
            </ion-item>
            <ion-item>
              <h5>Ejemplar</h5>
            </ion-item>
            <ion-item>
              <ion-button (click)="startScannerEjemplar()" color="dark">+<ion-icon name="albums-outline"></ion-icon></ion-button>
            </ion-item>
          </ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
    </ion-row>

    <ion-row *ngIf="nuevo_libro">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{libro.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Editorial: {{libro.editorial}}</p>
          <p>Fec. Publicacion: {{libro.fecha_publicacion}}</p>
          <p>Núm Páginas: {{libro.numero_paginas}}</p>
          <p>Autor {{autor}}</p>
          <p>Categoria {{categoria}}</p>
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><ion-button (click)="agregar_libro()" color="dark">Agregar</ion-button></ion-col>
        <ion-col><ion-button (click)="cancelar()" color="medium">Cancelar</ion-button></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col><h2>Reservas</h2></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <div *ngFor="let reserva of reservas">
      <ion-row>
        <ion-col></ion-col>
        <ion-col size="7">
          <ion-row>
            <ion-item><b>QR:</b> {{reserva.isbn_13}}-{{reserva.id_ejemplar}}</ion-item>
          </ion-row>
          <ion-row>
            <ion-item><b>DNI/NIE:</b> {{reserva.dni_nie}}</ion-item>
          </ion-row>
          <ion-row>
            <ion-item><b>Estado:</b> {{reserva.estado_res}}</ion-item>
          </ion-row>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </div>

    

    <div >
      <ion-row>
        <ion-button (click)="obtainBook()">PruebaAgregarLibro</ion-button>
      </ion-row>
      <ion-row>
        <ion-button (click)="prueba_ejemplar()">PruebaAgregarEjemplar</ion-button>
      </ion-row>
      <ion-row>
        <ion-button (click)="prueba_reserva_aceptada()">PruebaReserva</ion-button>
      </ion-row>
      <ion-row>
        <ion-button (click)="prueba_regresar()">PruebaRegresar</ion-button>
      </ion-row>
    </div>
  </ion-grid>

</ion-content>
