<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Catálogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <ion-item>
          <ion-label position="floating">Autor</ion-label>
          <ion-input [(ngModel)]="autor"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Título</ion-label>
          <ion-input [(ngModel)]="titulo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Categoria</ion-label>
          <ion-input [(ngModel)]="categoria"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col style="margin-top: 20%;">
        <ion-button color="dark" (click)="buscar()"><ion-icon name="search-outline"></ion-icon></ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
