<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="2"><ion-button (click)="mi_cuenta()" color="medium"><ion-icon name="person-circle-outline"></ion-icon></ion-button></ion-col>
      <ion-col size="3"><ion-button (click)="cerrar_sesion()" color="dark"><ion-icon name="log-out-outline"></ion-icon>Cerrar</ion-button></ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col><h2>Reservas</h2></ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>Título</ion-item>
        <ion-item>QR</ion-item>
        <ion-item>Fecha devolución</ion-item>

      </ion-col>
      <ion-col>
        <ion-item>Prisionero de Askaban</ion-item>
        <ion-item>1234567890987-12</ion-item>
        <ion-item>2022-06-08</ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>QR</ion-item>
      <ion-item><ion-button color="dark">Devolver</ion-button></ion-item>
    </ion-row>
  </ion-grid>

</ion-content>
