<ion-app>
  <ion-menu side="start" menuId="mainMenu" contentId="mainContent">

    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Flourish & Blotts</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      
      <ion-list>

        <ion-item [routerLink]="['/paginas', 'home']" routerLinkActive="menu-activated">
          <ion-icon name="home-outline"></ion-icon>
          <ion-label class="ion-padding-start">Inicio</ion-label>
        </ion-item>

          <ion-item (click)="openCathegories()">
            <ion-icon name="bookmarks-outline"></ion-icon>
            <ion-label class="ion-margin-start">Catálogo</ion-label>
            <ion-icon slot="end" [name]="isCathegoriesOpen() ? 'caret-down-outline' : 'caret-back-outline'"></ion-icon>
          </ion-item>
  
          <ion-menu-toggle auto-hide="true">
            <ion-item [hidden]="!isCathegoriesOpen()" [routerLink]="['login']" class="ion-margin-start" [routerLinkActive]="['login']">
              <ion-icon name="search-outline"></ion-icon>
              <ion-label class="ion-margin-start">Simple</ion-label>
            </ion-item>
            <ion-item [hidden]="!isCathegoriesOpen()" [routerLink]="['register']" class="ion-margin-start" [routerLinkActive]="['register']">
              <ion-icon name="search-outline"></ion-icon>
              <ion-label class="ion-margin-start">Avanzada</ion-label>
            </ion-item>
  
          </ion-menu-toggle>

          <ion-item [routerLink]="['/pages', 'dawle']" routerLinkActive="menu-activated">
            <ion-icon name="time-outline"></ion-icon>
            <ion-label class="ion-padding-start">Horario</ion-label>
          </ion-item>

          <ion-item [routerLink]="['/paginas', 'iniciarsesion']" routerLinkActive="menu-activated">
            <ion-icon name="log-in-outline"></ion-icon>
            <ion-label class="ion-padding-start">Iniciar Sesión</ion-label>
          </ion-item>

      </ion-list>

    </ion-content>

  </ion-menu>
  <ion-router-outlet id="mainContent"></ion-router-outlet>
</ion-app>