<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Privada Administrador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col></ion-col>
      <ion-col size="2"><ion-button (click)="mi_cuenta()" color="medium"><ion-icon name="person-circle-outline"></ion-icon></ion-button></ion-col>
      <ion-col size="3">
        <ion-button color="dark" (click)="cerrar()">Cerrar Sesión</ion-button>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col><h2>Gestion Responsables</h2></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
    <ion-row *ngFor="let responsable of responsables" style="margin-bottom: 20px;">
      <ion-col size="1"></ion-col>
      <ion-col>
        <ion-item>DNI/NIE: {{responsable.dni_nie}}</ion-item>
        <ion-item>Nombre: {{responsable.nombre}}</ion-item>
        <ion-item>Correo: {{responsable.correo_electronico}}</ion-item>
        <ion-item>Estado: {{responsable.estado}}</ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
